ffmpeg-master-latest-win64-gpl/
node_modules/
g4l-ui/node_modules/
*.logg4l-ui/saved-audio/ 
*.wav
*.wav.asd
*.log
node-v20.13.1-x64.msi
commentedout_backup.js
commentedout_websockets_backup.js
myBufferUI.js
update_path.bat
waveform.js
recordtoggle.js
package-lock.json
commentedout_test.js
g4l-ui/package-lock.json
g4l-ui/release/build/
